.home {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: grid;
  place-items: center;

  @media (max-width: 768px) {
    height: unset;
  }
}
